#box{width:800px;margin:20px auto;}
.firstRow{position:relative;width:800px;height:173px;overflow:hidden;margin: 0 auto;}
.list ul{position:absolute;top:0;left:0;height:173px;}
.scrollBar{position:relative;height:10px;background:#858584;overflow:hidden;width: 800px;margin: 0 auto;border-radius: 10px;}
.scrollBar .barL,.scrollBar .barR,.scrollBar .barLStop,.scrollBar .barRStop{position:absolute;top:0;width:28px;height:19px;cursor:pointer;background:url(img/03.gif) no-repeat;}
.scrollBar .barL{left:0;}
.scrollBar .barR{right:0;background-position:right 0;}
.scrollBar .barLStop{left:0;background-position:0 -19px;cursor:default;}
.scrollBar .barRStop{right:0;background-position:right -19px;cursor:default;}
.scrollBar .barM{position:relative;height:8px;z-index:1;cursor:pointer;}
.scrollBar .bar{position:absolute;top:1px;left:0;width:40px;height:8px;cursor:e-resize;background: #f76907;border-radius: 10px;}
.scrollBar .bar .l,.scrollBar .bar .r{position:absolute;top:0;width:6px;height:15px;background:url(img/02.gif) no-repeat;}
.scrollBar .bar .l{left:-6px;}
.scrollBar .bar .r{right:-6px;background-position:right 0;}
.list ul li.firstRowImg {padding: 0;width: 285px;height: 173px;background: none;}
.list ul li.secondRowImg{padding: 0;width: 173px;height: 173px;background: none;}
.list ul li.secondRowImg img{padding: 0;width: 173px;height: 173px;}