<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qxjs.dao.product.group.GroupMapper" >
  <resultMap id="GroupResultMap" type="com.qxjs.model.vo.product.group.Group" >
    <id column="groupId" property="groupId" jdbcType="INTEGER" />
    <result column="groupCd" property="groupCd" jdbcType="VARCHAR" />
    <result column="seriesId" property="seriesId" jdbcType="INTEGER" />
    <result column="comment" property="comment" jdbcType="VARCHAR" />
    <result column="seriesName" property="seriesName" jdbcType="VARCHAR" />
  </resultMap>
  
  <insert id="insertControl" parameterType="Group">
    	INSERT INTO t_Group (groupCd,seriesId,comment) 
    		VALUES(#{groupCd},#{seriesId},#{comment})
  	</insert>
  	
  	<delete id="deleteControl" parameterType="String">
    	DELETE from t_Group 
    	WHERE groupId in (${idStr})
  	</delete>
  	
  	<update id="updateControl" parameterType="Group">
    	UPDATE t_Group 
   		SET     groupCd = #{groupCd},
   				seriesId = #{seriesId},
   				comment = #{comment}
   		WHERE groupId = #{groupId}
  	</update>
  	
  	<select id="selectCount" parameterType="Group" resultType="Integer">
    	SELECT count(*) FROM t_Group 
    	WHERE groupCd like
    	<![CDATA[   
			CONCAT(CONCAT('%',#{groupCd}),'%')				
		]]>	
  	</select>
	
	<select id="selectControl" resultMap="GroupResultMap" resultType="Group">
    	SELECT * FROM t_Group 
    		left join series on t_group.seriesId = series.seriesId
    	WHERE groupCd like
    	<![CDATA[   
			CONCAT(CONCAT('%',#{vo.groupCd}),'%')				
		]]>	
		order by groupId
     	limit #{page.currentPage},#{page.pageSize}
  	</select>
  	
	<select id="downloadData" resultMap="GroupResultMap" resultType="Group">
    	SELECT * FROM t_Group
  	</select>
</mapper>