<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qxjs.dao.store.StoreMapper" >
  <resultMap id="StoreResultMap" type="com.qxjs.model.vo.store.Store" >
    <id column="storeId" property="storeId" jdbcType="INTEGER" />
    <result column="provinceId" property="provinceId" jdbcType="INTEGER" />
    <result column="provinceName" property="provinceName" jdbcType="VARCHAR" />
    <result column="storeName" property="storeName" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="img" property="img" jdbcType="VARCHAR" />
  </resultMap>
  
  <insert id="insertControl" parameterType="Store">
    	INSERT INTO Store (provinceId,storeName,address, phone, img) 
    		VALUES(#{provinceId},#{storeName},#{address}, #{phone}, #{img})
  	</insert>
  	
  	<delete id="deleteControl" parameterType="String">
    	DELETE from Store 
    	WHERE storeId in (${idStr})
  	</delete>
  	
  	<update id="updateControl" parameterType="Store">
    	UPDATE Store 
   		SET     provinceId = #{provinceId},
   				storeName = #{storeName},
   				address = #{address},
   				phone = #{phone},
   				img = #{img}
   		WHERE storeId = #{storeId}
  	</update>
  	
  	<select id="selectCount" parameterType="Store" resultType="Integer">
    	SELECT count(*) FROM Store 
    	WHERE storeName like
    	<![CDATA[   
			CONCAT(CONCAT('%',#{vo.storeName}),'%')				
		]]>	
  	</select>
	
	<select id="selectControl" resultMap="StoreResultMap" resultType="Store">
    	SELECT * FROM Store 
    	LEFT JOIN province on Store.provinceId = province.provinceId
    	WHERE storeName like
    	<![CDATA[   
			CONCAT(CONCAT('%',#{vo.storeName}),'%')				
		]]>	
		order by storeId
     	limit #{page.currentPage},#{page.pageSize}
  	</select>
  	
	<select id="downloadData" resultMap="StoreResultMap" resultType="Store">
    	SELECT * FROM Store
  	</select>
</mapper>