<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>  
        <setting name="logImpl" value="LOG4J"/>  
    </settings>
    
	<typeAliases>
		<typeAlias alias="MessageVo" type="com.qxjs.model.vo.common.MessageVo"/>
		<typeAlias alias="PageVo" type="com.qxjs.model.vo.common.PageVo"/>
		<typeAlias alias="User" type="com.qxjs.model.vo.user.User"/>
		<typeAlias alias="Activity" type="com.qxjs.model.vo.activity.Activity"/>
		<typeAlias alias="Province" type="com.qxjs.model.vo.common.Province"/>
		<typeAlias alias="Custom" type="com.qxjs.model.vo.custom.Custom"/>
		<typeAlias alias="News" type="com.qxjs.model.vo.news.News"/>
		<typeAlias alias="Order" type="com.qxjs.model.vo.order.Order"/>
		<typeAlias alias="Store" type="com.qxjs.model.vo.store.Store"/>
		<typeAlias alias="Category" type="com.qxjs.model.vo.product.category.Category"/>
		<typeAlias alias="Group" type="com.qxjs.model.vo.product.group.Group"/>
		<typeAlias alias="Param" type="com.qxjs.model.vo.product.param.Param"/>
		<typeAlias alias="Photo" type="com.qxjs.model.vo.product.photo.Photo"/>
		<typeAlias alias="Product" type="com.qxjs.model.vo.product.product.Product"/>
		<typeAlias alias="Series" type="com.qxjs.model.vo.product.series.Series"/>
		<typeAlias alias="Collocation" type="com.qxjs.model.vo.collocation.Collocation"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="com/qxjs/dao/user/UserMapper.xml" />
		<mapper resource="com/qxjs/dao/activity/ActivityMapper.xml" />
		<mapper resource="com/qxjs/dao/custom/CustomMapper.xml" />
		<mapper resource="com/qxjs/dao/custom/ProvinceMapper.xml" />
		<mapper resource="com/qxjs/dao/news/NewsMapper.xml" />
		<mapper resource="com/qxjs/dao/order/OrderMapper.xml" />
		<mapper resource="com/qxjs/dao/store/StoreMapper.xml" />
		<mapper resource="com/qxjs/dao/product/category/CategoryMapper.xml" />
		<mapper resource="com/qxjs/dao/product/group/GroupMapper.xml" />
		<mapper resource="com/qxjs/dao/product/param/ParamMapper.xml" />
		<mapper resource="com/qxjs/dao/product/photo/PhotoMapper.xml" />
		<mapper resource="com/qxjs/dao/product/product/ProductMapper.xml" />
		<mapper resource="com/qxjs/dao/product/series/SeriesMapper.xml" />
		<mapper resource="com/qxjs/dao/collocation/CollocationMapper.xml" />
	</mappers>
	
</configuration>