<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qxjs.dao.product.param.ParamMapper" >
  <resultMap id="ParamResultMap" type="com.qxjs.model.vo.product.param.Param" >
    <id column="paramId" property="paramId" jdbcType="INTEGER" />
    <result column="categoryId" property="categoryId" jdbcType="INTEGER" />
    <result column="cname" property="cname" jdbcType="VARCHAR" />
    <result column="ename" property="ename" jdbcType="VARCHAR" />
    <result column="level" property="level" jdbcType="INTEGER" />
    
    <result column="categoryCname" property="categoryCname" jdbcType="VARCHAR" />
    <result column="categoryEname" property="categoryEname" jdbcType="VARCHAR" />
    
  </resultMap>
  
  <insert id="insertControl" parameterType="Param">
    	INSERT INTO Param (categoryId,ename,cname,level) 
    		VALUES(#{categoryId},#{ename},#{cname},#{level})
  	</insert>
  	
  	<delete id="deleteControl" parameterType="String">
    	DELETE from Param 
    	WHERE paramId in (${idStr})
  	</delete>
  	
  	<update id="updateControl" parameterType="Param">
    	UPDATE Param 
   		SET categoryId = #{categoryId},
	   		ename = #{ename},
	   		cname = #{cname},
	   		level = #{level}
   		WHERE paramId = #{paramId}
  	</update>
	
	<select id="selectControl" resultMap="ParamResultMap" resultType="Param">
    	SELECT * FROM Param 
    	left join category on category.categoryId = Param.categoryId
		order by paramId
  	</select>
  	
	<select id="downloadData" resultMap="ParamResultMap" resultType="Param">
    	SELECT * FROM Param
  	</select>
  	
	<select id="selectParamByCategoryId" resultMap="ParamResultMap" parameterType="Integer">
    	SELECT * FROM Param where categoryId = #{categoryId}
  	</select>
</mapper>